- content_for :title do
  = @channel.title

.wrapper{ id: @channel.slug, data: { url: encoded_url(@channel) } }

  .header
    = link_to @channel.title, encoded_url(@channel)

  .contents.active
    - @channel.contents.each_with_index do |connectable, i|
      - if connectable.is_channel?
        .channel.connectable{ data: { url: encoded_url(connectable), slug: connectable.slug } }
          = connectable.title
      
      - else
        .block.connectable{ id: current(@channel, connectable.id), class: connectable._class.downcase, data: { url: encoded_url(connectable, { next: move(:next, @channel, i), prev: move(:prev, @channel, i), via: @channel.slug }) } }
          = appropriate_preview(connectable)