- content_for :title do
  = @channel.title

.wrapper{ id: @channel.slug }

  .header
    = link_to @channel.title, encoded_url(@channel)

  .contents.active
    - @channel.contents.each do |connectable|
      - if connectable.is_channel?
        .channel.connectable{ data: { href: encoded_url(connectable), slug: connectable.slug, position: connectable.position, id: connectable.id } }
          = connectable.title
      
      - else
        .block.connectable{ class: connectable._class.downcase, data: { href: encoded_url(connectable), position: connectable.position, id: connectable.id } }
          = appropriate_preview(connectable)