- content_for :title do
  = @block.generated_title

.functions
  = link_to "&times;", return_url(params[:via]), class: "return"

.wrapper
  .inner-frame{ class: @block._class.downcase }
    = partial "blocks/content", locals: { block: @block }

  - if display_metadata?(@block)
    = partial "blocks/metadata", locals: { block: @block }