@import "mixins";

// COLOR SCHEMES
// -------------
body {
  background: $background;
  color: $middle;

  &.inverse { background: $foreground; }
}

a {
  color: $middle;

  &:hover { color: lighten($middle, 25%); }
}
  .inverse a:hover { color: darken($middle, 25%); }

.frame { background: $background; }
  .inverse .frame { background: $foreground; }

.inner-frame { background: $foreground; }
  .inverse .inner-frame { background: $background; }

.contents {
  border-color: $middle;

  &:before { border-color: $middle transparent; }
  &:after { border-color: $background transparent; }

  &.active { border-color: $yellow; }
  &.active:before { border-color: $yellow transparent; }
}
  .inverse .contents {
    &:after { border-color: $foreground transparent; }

    &.active { border-color: $blue; }
    &.active:before { border-color: $blue transparent; }
  }

.block {
   border-color: transparent;

   &:hover { border-color: $blue; }
}
  .inverse .block:hover { border-color: $yellow; }

.channel {
  border-color: transparent;

  &:hover { border-color: $yellow; }
}
