// CONSTANTS
// ---------
$unit: 18px;
$sans: sans-serif;
$serif: Times, 'Times New Roman', Georgia, serif;
$font-size: 14px;
$line-height: $unit;
$page-width: 800px;
$menu-width: 20%;

// COLORS
// ------
$foreground: #000000;
$background: #ffffff;
$middle: #808080;
$yellow: #ffcc00;
$blue: #0099ff;

// UTILS
// -----
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

// MIXINS
// ------
@mixin selection {
  background: $foreground;
  color: $background;
  text-shadow: none;
}

@mixin serif-type {
  text-align: left;
  font-family: $serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin inset-shadow {
  $shadow: inset 0px 1px 3px #000, inset 0px -1px 3px #000;
  @include box-shadow($shadow)
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin clearfix {
  zoom: 1;
  &:before,
  &:after {
    display: table;
    *display: inline;
    content: "";
    zoom: 1;
  }
  &:after {
    clear: both;
  }
}

@mixin opacity($opacity: 100) {
  filter: alpha(opacity=$opacity);
  -khtml-opacity: $opacity / 100;
    -moz-opacity: $opacity / 100;
         opacity: $opacity / 100;
}

@mixin border-box {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin background-size($size){
  -webkit-background-size: $size;
     -moz-background-size: $size;
       -o-background-size: $size;
          background-size: $size;
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
