[class*="interface-lrg-"] {
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: text-top;
  background-image: url(../images/sprites.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

[class*="interface-sm-"] {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: text-top;
  background-image: url(../images/sprites.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.interface-lrg-download { background-position: 0  0; }
.interface-lrg-close,
.interface-lrg-return { background-position: -36px 0; }
.interface-lrg-link { background-position: -72px 0; }
.interface-lrg-out { background-position: -108px 0; }
